.DS_Store
*.dll
*.dll.mdb
*.orig
*.userprefs
*.suo
*.zip
*.sln
*.swp
*.blend?
*.pyc
build
obj
bin
*.csproj.user
*.DotSettings.user

Assets/*.png
GameData
Source/assembly/AssemblyInfo.cs
Assets/Shabby.version
